.dashboard-container {
  width: 100%;
  min-height: 100vh;
  background-color: $background-gray;
  padding: 0 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: $screen-xl;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $background-light;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.dashboard-header h1 {
  margin: 0;
  color: $text-gray;
}

.dashboard-header button {
  margin-left: auto;
  width: max-content;
  padding: 0.5rem 1rem;
  background-color: $danger-color;
}

.dashboard-header button:hover {
  background-color: $danger-dark;
}

.dashboard-title {
  font-size: $font-size-2xl;
}

.dashboard-content {
  background: $background-light;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1;
  display: flex;
  flex-direction: column;
}

.dashboard-content h2 {
  color: $text-gray;
  margin-top: 0;
}

.dashboard-content p {
  color: $text-gray-dark;
  font-size: $font-size-lg;
}

.info-box {
  background-color: $background-blue;
  border: 1px solid $border-color-dark;
  border-radius: 4px;
  padding: 1rem;
}

.info-box h3 {
  margin-top: 0;
  color: $text-gray;
}

.info-box p {
  margin: 0.5rem 0;
  color: $text-gray-dark;
}

.site-viewer {
  margin-top: 0.5rem;
  border: 1px solid $border-color;
  border-radius: 4px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.site-viewer h3 {
  margin-top: 0;
  color: $text-gray;
}

.site-iframe {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex: 1;
}

.site-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.active-site {
  padding-inline: 0.5rem;
  background-color: $background-blue-light;
  outline: 2px solid $border-blue;
  border-radius: 4px;
}
